/* Animated teal background */
.animated-background {
    background: linear-gradient(-45deg, teal, #759191, rgb(4, 209, 209), #1a4d4e);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}