@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Laila&family=Open+Sans:wght@400;600&family=Playfair:wght@400;600&family=Poppins:ital@0;1&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.underline-animation {
    position: relative;
    text-decoration: none;
}

.underline-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: teal; /* Cambia el color de la línea subrayada según tus necesidades */
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

.underline-animation:hover::after {
    transform: scaleX(1);
}


